* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

body {
    font-family: monospace;
    color: #333;
}

.container {
    display: flex;
    // flex-wrap: wrap;
    max-width: 400px;
    // height: 360px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
	border: 1px solid #ccc;
}

.item {
    // flex: 1;
    margin: 5px;
    // padding: 0 10px;
	background: tomato;
	text-align: center;
    font-size: 1.5em;
}


/* Flex */
.flex {
	display: flex;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}


.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.row-nowrap {
    flex-flow: row nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.row-wrap-reverse {
    flex-flow: row wrap-reverse;
}

.column-nowrap {
    flex-flow: column nowrap;
}


.flex-item-1 {
	flex: 1;
}


.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
    min-height: 400px;
}

.column-reverse {
    flex-direction: column-reverse;
}


.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evelyn {
    justify-content: space-evenly;
}

.strech {
    align-items: stretch;
}

.align-flex-start {
    align-items: flex-start;
}

.align-flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.alinhamento-central {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.alinhamento-central .item {
    flex: 0;
    padding: 15px;
}

.align-content-strech {
    align-content: stretch;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-space-around {
    align-content: space-around;
}
.align-content-space-between {
    align-content: space-between;
}

.grow0 {
    flex-grow: 0;
}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

.basis-auto {
    flex-grow: 1;
    flex-basis: auto;
}

.basis-auto-grow-2 {
    flex-grow: 2;
    flex-basis: auto;
}

.basis-auto-width {
    flex-grow: 1;
    flex-basis: auto;
    width: 60px;
}

.basis-auto-grow-0 {
    flex-basis: auto;
}

.overlay .basis-auto::before, .overlay .basis-auto-grow-2::before, .overlay .basis-auto-width::before {
    content: '';
    display: block;
    width: 16px;
    height: 36px;
    background: blue;
    position: absolute;
    opacity: 0.5;
}

.overlay .basis-auto-grow-2::before {
    border-right: 16px solid blueviolet;
}

.overlay .basis-auto-width::before {
    border-right: 30px solid;
}

.basis-0 {
    flex-grow: 1;
    flex-basis: 0;
}

.basis-0-grow-2 {
    flex-basis: 0;
    flex-grow: 2;
}

.basis-0-width {
    flex-grow: 1;
    flex-basis: 0;
    width: 120px;
    min-width: 80px;
}

.basis-0-grow-0 {
    flex-grow: 0;
    flex-basis: 0;
}

.overlay .basis-0::before, .overlay .basis-0-grow-2::before, .ovelay .basis-0-width {
    content: '';
    display: block;
    width: 65px;
    height: 36px;
    background: blue;
    position: absolute;
    opacity: .5;
}

.overlay .basis-0-grow-2::before {
    border-right: 65px solid blueviolet;
}

.shrink-1 {
    flex-shrink: 1;

}

.shrink-0-basis {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 150px;
}

.shrink-1-basis {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.shrink-3-basis {
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 150px;
}

.basis-auto {
	flex: 1 1 auto;
}

.basis-auto-grow-2 {
	flex: 2 1 auto;
}

.basis-auto-width {
	flex: 1 1 auto;
	width: 60px;
}

.basis-auto-grow-0 {
	flex: 0 1 auto;
}

/* FLEX BASIS AUTO FIM */

/* FLEX BASIS 0 */

.basis-0 {
	flex: 1;
}

/* O tamanho total é de duas vezes dos itens com flex: 1; */
.basis-0-grow-2 {
	flex: 2;
}

.basis-0-width {
	flex: 1;
	width: 120px;
	min-width: 80px;
}

.basis-0-grow-0 {
	flex: 0 1 0;
}

/* FLEX BASIS 0 FIM */

.basis-numero-container {
	flex-wrap: wrap;
}

.basis-110 {
	flex: 0 1 110px;
}

.basis-300 {
	flex: 0 1 300px;
}

.basis-110-porcento {
	flex: 0 1 calc(25% - 10px);
}

.basis-110-grow-1 {
	flex: 1 1 110px;
}

.basis-600-grow-1 {
	flex: 1 1 600px;
}
.basis-auto {
	flex: 1 1 auto;
}

.basis-auto-grow-2 {
	flex: 2 1 auto;
}

.basis-auto-width {
	flex: 1 1 auto;
	width: 60px;
}

.basis-auto-grow-0 {
	flex: 0 1 auto;
}


.basis-0 {
	flex: 1;
}


.basis-0-grow-2 {
	flex: 2;
}

.basis-0-width {
	flex: 1;
	width: 120px;
	min-width: 80px;
}

.basis-0-grow-0 {
	flex: 0 1 0;
}

/* FLEX BASIS 0 FIM */

.basis-numero-container {
	flex-wrap: wrap;
}

.basis-110 {
	flex: 0 1 110px;
}

.basis-300 {
	flex: 0 1 300px;
}

.basis-110-porcento {
	flex: 0 1 calc(25% - 10px);
}

.basis-110-grow-1 {
	flex: 1 1 110px;
}

.basis-600-grow-1 {
	flex: 1 1 600px;
}
