// fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');



// you stylesheet
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: #efefef;
    font-family: 'Quicksand', sans-serif;
    background: #F6F7FB;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
}

body > div > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


p,  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;
}


ul, li {
    list-style: none;
}


header {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 5fr 4fr;
    grid-template-areas: 'info-nav info-logo info-links';
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 75px;
    background-color: #6B8BA7;
    z-index: 999;
}


nav > ul {
    display: flex;
    justify-content: end;
}

nav a {
    color: #EBF0F5;
    margin: 0 20px;
}

nav a:hover {
    color: #b1cde6;
}


:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
  }
  
  .sidebar {
    position: fixed;
    top: 10px;
    width: 285px;
    left: -285px;
    height: 100%;
    background-color: #ebf0f5;
    transition: all .5s ease;
  }

  .sidebar header {
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
  }

  .sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: #6b8ba7;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
  }

  .sidebar > a.active {
      color: #fff;
  }

  .sidebar a.active, .sidebar a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
     background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  }

  .sidebar a i {
    font-size: 23px;
    margin-right: 16px;
  }

  .sidebar a span {
    letter-spacing: 1px;
    font-weight: normal;
  }


#check {
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    top: 23px;
    left: 5px;
    color: #EBF0F5;
    border-radius: 5px;
    margin: 0 30px;
    font-size: 29px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease;
  }

  label #cancel {
    opacity: 0;
    visibility: hidden;
  }

  #check:checked ~ .sidebar { 
    left: 0;
  }

  #check:checked ~ label #btn{
    margin-left: 285px;
    opacity: 0;
    visibility: hidden;
  }

  #check:checked ~ label #cancel {
    margin-left: 285px;
    opacity: 1;
    visibility: visible;
  }


  .sidebar > a.active,.sidebar > a:hover:nth-child(even) {
    --accent-color: #8aa2b8;
    --gradient-color: #adc6dc;
  }

  .sidebar a.active,.sidebar > a:hover:nth-child(odd) {
    --accent-color: #adc6dc;
    --gradient-color: #8aa2b8;
  }
  

.wrapper-flex {
    display: flex;
}

.wrapper-grid-header {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    grid-template-areas: 'info-nav info-logo info-links';
    align-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 1 ato;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row-column {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 1 ato;
    margin-left: -1rem;
    margin-right: -1rem;

}

.jc-c {
    justify-content: center;
}

.ac-c {
    align-content: center;
}

.ji-c {
    justify-items: center;
}

.ai-c {
    align-items: center;
}

.info-nav {
    grid-area: info-nav;
    top: 100px;
    margin-left: 40px;
}

.info-logo {
    display: flex;
    align-items: center;
    grid-area: info-logo;
}

.info-logo p {
    font-size: 16px;
    margin-left: 10px;
}

.info-links {
    grid-area: info-links;
    margin: 0 45px;
}


.slider {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-template-areas: "img-slider info-text-slider" ;
    width: 100vw;
    height: 710px;
    background-color: #ADC6DC;
    padding: 100px 0;
    z-index: -1;
}

.img-slider {
    grid-area: img-slider;
    padding: 25px;
}

.img-slider img {
    margin: 10px;
    max-width: 100%;
    vertical-align: middle;
}

.info-text-slider {
    grid-area: info-text-slider;
    justify-items: start;
    padding: 145px 45px;
    margin: 0 25px;
}

.info-text-slider h1 {
    font-size: 78px;
    font-weight: normal;
}

.info-text-slider h3 {
    width: 85%;
    line-height: 40px;
    font-size: 25px;
    font-weight: normal;
}


.section1 {
    width: 100vw;
    height: 490px;
    background-color: #F2F6FB;

}

.section1 h1 {
    margin: 30px auto;
    font-size: 36px;
    color: #ADC6DC;
    font-weight: normal;

}

.divider-sec1 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #9AB8D3;
    margin: 5px auto;
}

.info-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.content-section1 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.content-section1 p {
    font-size: 24px;
    font-weight: normal;
    color: #ADC6DC;
    margin: 10px auto;
}

.section2 {
    width: 100vw;
    height: 595px;
    margin: 0 auto;
    background-color: #ADC6DC;
}

.section2 h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    color: #EBF0F5;
    font-weight: normal;
}

.divider-sec2 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #EBF0F5;
    margin: 5px auto;
}


.info-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.content-section2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40vh;
    grid-template-areas: 'img-info-sec2 ad-section2' ;

}

.img-info-sec2 {
    display: flex;
    padding: 45px 145px;
    grid-area: img-info-sec2;
}


.img-info-sec2  p {
    margin: 10px 30px;
    font-size: 18px;
    line-height: 40px;
    width: 50%;
    font-weight: normal;
    color: #EBF0F5;
}

.ad-section2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 45px 5px;
    grid-area: ad-section2;
}

.ad-section2 p {
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    color: #EBF0F5;
    margin: 10px auto;
}

.ad-info-sec2 {
    padding: 10px 0;
}

.ad-section2 > div > p::before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 18px -25px;
    border-radius: 10px;
    background: #EBF0F5;
    
}

.btn-sec2 {
    padding: 12px 21px;
    border: none;
    cursor: pointer;
    color:#ADC6DC;
    background-color: #EBF0F5;
    border-radius: 25px;
    font-size: 16px;
    margin: 10px;
}

.btn2-sec2 {
    padding: 15px 41px;
    border: 1px solid #adc6dc;
    color:#ADC6DC;
    border-radius: 25px;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
}

.section3 {
    width: 100vw;
    height: 635px;
    background-color: #F2F6FB;
}

.section3 h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    color: #9AB8D3;
    font-weight: normal;
}


.info-section3 {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.divider-sec3 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #9AB8D3;
    margin: 5px auto;
}

.content-section3 {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

   
.content-section3 p {
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    text-align: left;
    color: #9AB8D3;
    margin: 15px;
}

.btn-sec3 {
    padding: 11px 28px;
    border: none;
    flex: 0;
    color: #F2F6FB;
    background-color: #ADC6DC;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}


.section4 {
    width: 100vw;
    height: 945px;
    margin: 0 auto;
    background-color: #ADC6DC;
}


.info-section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}


.section4 h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 36px;
    color: #EBF0F5;
    font-weight: normal;
}

.divider-sec4 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #EBF0F5;
    margin: 5px auto;
}


.info-section4 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 65px 0;
    
}

.content-section4 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-left: 115px;
    
}

.content-section4 h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 26px;
    color: #EBF0F5;
    font-weight: normal;

}

.img-sec4 {
    display: flex;
    margin: 30px;
    padding: 20px;
    
}

.title-img-sec4 {
    display: flex;
    flex-direction: column;

}

.title-img-sec4 h3 {
    margin: 20px 40px;
    font-size: 26px;
    color: #EBF0F5;
    font-weight: normal;
}

.title-img-sec4 p {
    margin: 5px 40px;
    font-size: 18px;
    color: #EBF0F5;
    font-weight: normal;
}

.img3-sec4 {
    margin-top: 45px;
}

.img4-sec4 {
    margin-top: 45px;
}


footer {
    width: 100vw;
    height: 247px;
    margin: 0 auto;
    background-color: #F2F6FB;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 65px 0;
}

.footer-links a {
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    text-align: left;
    color: #9AB8D3;
    margin: 15px;
}

.footer-links a:hover {
    color: #b1cde6;
}

.footer-copyright h2 {
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    text-align: center;
    color: #9AB8D3;
    margin: 15px;

 }


 
 @media(max-width : 860px) {
    .sidebar {
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }

    header, #btn, #cancel {
      display: none;
    }

    span {
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }

    .sidebar a {
      height: 60px;
    }

    .sidebar a i {
      margin-left: -10px;
    }

    a:hover {
      width: 200px;
      background: inherit;
    }

    .sidebar a:hover span {
      opacity: 1;
      visibility: visible;
    }

    header {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .info-logo {
        display: flex;
        justify-items: center;
        margin: 0 auto;
    }

    .info-links {
        display: none;
    }

    .slider {
        display: flex;
        flex-wrap: wrap;
        height: 900px;

    }

    .img-slider {
        grid-area: img-slider;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .img-slider > img {
        width: 256px;
        max-width: 100%;
    }
    
    .info-text-slider {
        grid-area: info-text-slider;
        padding: 145px 45px;
        margin: 0 25px;
    }
    
    .info-text-slider h1 {
        font-size: 58px;
        font-weight: normal;
    }
    
    .info-text-slider h3 {
        width: 85%;
        line-height: 40px;
        font-size: 25px;
        font-weight: normal;
    }
    
    
    .section1 {
        width: 100vw;
        height: 490px;
        background-color: #F2F6FB;
    
    }
    
    .section1 h1 {
        margin: 30px auto;
        font-size: 36px;
        color: #ADC6DC;
        font-weight: normal;
    
    }
    
    .divider-sec1 {
        width: 101px;
        height: 4px;
        border-radius: 25px;
        background: #9AB8D3;
        margin: 5px auto;
    }
    
    .info-section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
    
    .content-section1 {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
    }
    
    .content-section1 p {
        font-size: 24px;
        font-weight: normal;
        color: #ADC6DC;
        margin: 10px auto;
    }
    
    .section2 {
        width: 100vw;
        height: 595px;
        margin: 0 auto;
        background-color: #ADC6DC;
    }
    
    .section2 h1 {
        margin: 30px 0;
        text-align: center;
        font-size: 36px;
        color: #EBF0F5;
        font-weight: normal;
    }
    
    .divider-sec2 {
        width: 101px;
        height: 4px;
        border-radius: 25px;
        background: #EBF0F5;
        margin: 5px auto;
    }
    
    
    .info-section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
    
    .content-section2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 40vh;
        grid-template-areas: 'img-info-sec2 ad-section2' ;
    
    }
    
    .img-info-sec2 {
        display: flex;
        padding: 45px 145px;
        grid-area: img-info-sec2;
    }
    
    
    .img-info-sec2  p {
        margin: 10px 30px;
        font-size: 18px;
        line-height: 40px;
        width: 50%;
        font-weight: normal;
        color: #EBF0F5;
    }
    
    .ad-section2 {
        display: flex;
        align-content: center;
        flex-direction: column;
        margin: 45px 5px;
        grid-area: ad-section2;
    }
    
    .ad-section2 p {
        font-size: 18px;
        line-height: 40px;
        font-weight: normal;
        color: #EBF0F5;
        margin: 10px auto;
    }
    
    .ad-info-sec2 {
        padding: 10px 0;
    }
    
    .ad-section2 > div > p::before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        margin: 18px -25px;
        border-radius: 10px;
        background: #EBF0F5;
        
    }
    
    .btn-sec2 {
        padding: 12px 21px;
        border: none;
        cursor: pointer;
        color:#ADC6DC;
        background-color: #EBF0F5;
        border-radius: 25px;
        font-size: 16px;
        margin: 10px;
    }
    
    .btn2-sec2 {
        padding: 15px 41px;
        border: 1px solid #adc6dc;
        color:#ADC6DC;
        border-radius: 25px;
        font-size: 16px;
        margin: 15px;
        cursor: pointer;
    }
    
    .section3 {
        width: 100vw;
        height: 635px;
        background-color: #F2F6FB;
    }
    
    .section3 h1 {
        margin: 30px 0;
        text-align: center;
        font-size: 36px;
        color: #9AB8D3;
        font-weight: normal;
    }
    
    
    .info-section3 {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }
    
    .divider-sec3 {
        width: 101px;
        height: 4px;
        border-radius: 25px;
        background: #9AB8D3;
        margin: 5px auto;
    }
    
    .content-section3 {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }
    
       
    .content-section3 p {
        font-size: 18px;
        line-height: 40px;
        font-weight: normal;
        text-align: left;
        color: #9AB8D3;
        margin: 15px;
    }
    
    .btn-sec3 {
        padding: 11px 28px;
        border: none;
        flex: 0;
        color: #F2F6FB;
        background-color: #ADC6DC;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        margin: 15px;
    }
    
    
    .section4 {
        width: 100vw;
        height: 945px;
        margin: 0 auto;
        background-color: #ADC6DC;
    }
    
    
    .info-section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
    
    
    .section4 h1 {
        margin: 30px 0;
        text-align: center;
        font-size: 36px;
        color: #EBF0F5;
        font-weight: normal;
    }
    
    .divider-sec4 {
        width: 101px;
        height: 4px;
        border-radius: 25px;
        background: #EBF0F5;
        margin: 5px auto;
    }
    
    
    .info-section4 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 65px 0;
        
    }
    
    .content-section4 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        margin-left: 115px;
        
    }
    
    .content-section4 h1 {
        margin: 30px 0;
        text-align: center;
        font-size: 26px;
        color: #EBF0F5;
        font-weight: normal;
    
    }
    
    .img-sec4 {
        display: flex;
        margin: 30px;
        padding: 20px;
        
    }
    
    .title-img-sec4 {
        display: flex;
        flex-direction: column;
    
    }
    
    .title-img-sec4 h3 {
        margin: 20px 40px;
        font-size: 26px;
        color: #EBF0F5;
        font-weight: normal;
    }
    
    .title-img-sec4 p {
        margin: 5px 40px;
        font-size: 18px;
        color: #EBF0F5;
        font-weight: normal;
    }
    
    .img3-sec4 {
        margin-top: 45px;
    }
    
    .img4-sec4 {
        margin-top: 45px;
    }
    
    
    footer {
        width: 100vw;
        height: 247px;
        margin: 0 auto;
        background-color: #F2F6FB;
    }
    
    .footer-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 65px 0;
    }
    
    .footer-links a {
        font-size: 18px;
        line-height: 40px;
        font-weight: normal;
        text-align: left;
        color: #9AB8D3;
        margin: 15px;
    }
    
    .footer-links a:hover {
        color: #b1cde6;
    }
    
    .footer-copyright h2 {
        font-size: 14px;
        line-height: 40px;
        font-weight: normal;
        text-align: center;
        color: #9AB8D3;
        margin: 15px;
    
     }
    






    

  }
  