* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #ebf0f5;
}

img {
    max-width: 100%;
}


.container {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 10vh 75vh 30vh;
    grid-template-areas: "header header header"
                          "main aside aside"
                          "footer footer footer";

    grid-gap: 5px;

}


header {
    background: #6a8aa7;
    grid-area: header;
}

main {
    background: #adc6dc;
    grid-area: main;
}

aside {
    background: #c9dcec;
    grid-area: aside;
}

footer {
    background: #6a8aa7;
    grid-area: footer;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 100vh 40vh 30vh;
    

        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ". .";

        grid-gap: 0;


    }
}