* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    background: #f8fbfe;

}

body > div > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 9vh 10vh 6vh 68vh 6vh;
    grid-template-areas: 
    "header header header "
    "section1 section1 section1"
    "section2 section3 section4"
    "section2 section5 section4"
    "section2 section6 section4";

    margin: 0 auto !important;
    margin-left: 0;

        
    
}

header {
    display: grid;
    grid-template-columns: 66px 160px;
    justify-content: start;
    align-content: center;
    background: #6a8aa7;
    grid-area: header;
    max-width: 100vw;
    max-height: 100vh;

}

.icon-responsive {
    padding: 15px 21px;
    background: #d5e6f5;
    margin: 25px 25px;
    border-radius: .5em;
    
    
}

.logo {
    padding: 6px 120px;
    background: #d5e6f5;
    margin: 25px;
    border-radius: .5em;

}


.section1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #adc6dc;
    grid-area: section1;
    padding: 1rem;
    max-width: 100vw;
    
    
}

.title-head {
    display: flex;
    width: 180px;
    height: 10px;
    margin: 15px 0 0 75px;
    background: #d5e6f5;
    border-radius: .5em;

}

.actions {
    display: flex;
    flex: 1 1 400px;
    max-width: 400px;
}

.action-info1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 200px;

}


.info-icon {
    padding: 10px 10px;
    width: 10px;
    height: 10px;
    background: #ebf0f5;
    border-radius: 50%;
    margin-left: 25px;
    
}


.info-text {
    height: 8px;
    width: 75px;
    background: #ebf0f5;
    border-radius: .5em;
    margin-top: 10px;

}


.section2 {
    background: #6a8aa7;
    grid-area: section2;
    margin: 10px;
    padding: 1rem;
    
}

.section3 {
    background: #adc6dc;
    grid-area: section3;
    border-radius: .5em .5em 0 0;
    margin: 10px;
    padding: 1rem;
        
}

.section4 {
    background: #6a8aa7;
    grid-area: section4;
    margin: 10px;
    padding: 1rem;
        
}

.section5 {
    background: #adc6dc;
    grid-area: section5;
    margin: 10px;
    padding: 1rem;
        
}

.section6 {
    background: #adc6dc;
    grid-area: section6;
    border-radius: 0 0 .5em .5em;
    margin: 10px;
    padding: 1rem;

}




@media (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 10vh 90vh;
        grid-template-areas: 
        "header header "
        "section1 section1"
        
        "section5 section5";

        max-width: 100vw;
        width: 100vw;
        margin: 0 auto;
       
        
    }

    .actions {
        display: none;
    }

}

