* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100wh;
  height: 100vh;
  background: #3ebf9f;
}

.container {
  display: grid;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 8vh 70vh 22vh;
  grid-template-areas: "header header"
                        "main aside"
                        "footer footer";
     
}


header {
  background: #f4a823;
  grid-area: header;

  
}


main {
  background: #41b1f8;
  grid-area: main;
  
}


aside {
  background: #9e69d5;  
  grid-area: aside;

}


footer {
  background: #ec444e;
  grid-area: footer;

}
