// fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: #efefef;
    font-family: 'Quicksand', sans-serif;
    background: #F6F7FB;
    -webkit-font-smoothing: antialiased;
    max-width: 100%;
}

p,  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

header {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-areas: 'info-nav info-logo info-links';
    align-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #6B8BA7;
    z-index: 999;
}

nav > ul {
    display: flex;
    justify-content: end;
}

nav a {
    color: #EBF0F5;
    margin: 0 20px;
}

nav a:hover {
    color: #b1cde6;
    transition: 0.5s;
    transition-property: color;

}


:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
  }
  
.sidebar {
    position: fixed;
    top: 10px;
    width: 315px;
    left: -315px;
    height: 100%;
    background-color: #ebf0f5;
    transition: all .5s ease;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.25);

}

.sidebar header {
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: #6b8ba7;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
}

.sidebar > a.active {
    color: #fff;
}

.sidebar a.active, .sidebar a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
        background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    font-weight: normal;
}

#check {
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    top: 23px;
    left: 5px;
    color: #EBF0F5;
    border-radius: 5px;
    margin: 0 30px;
    font-size: 29px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar { 
    left: 0;
}

#check:checked  ~ label  #btn {
    margin-left: 315px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label  #cancel {
    margin-top: 3px;
    margin-left: 255px;
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
    --accent-color: #8aa2b8;
    --gradient-color: #adc6dc;
    transition: 0.5s;
    transition-property: accent-color gradient-color;

}

.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
    --accent-color: #adc6dc;
    --gradient-color: #8aa2b8;
}

.info-nav {
    grid-area: info-nav;
    top: 100px;
    margin-left: 40px;
}

.info-logo {
    display: flex;
    align-items: center;
    grid-area: info-logo;
}

.info-logo p {
    font-size: 25px;
    margin-left: 30px;
}

.info-links {
    grid-area: info-links;
    margin: 0 45px;
}

.slider {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 810px;
    grid-template-areas: "img-slider info-text-slider" ;
    background-color: #ADC6DC;
    padding: 120px 0;
    z-index: -1;
}

.img-slider {
    grid-area: img-slider;
    margin: 60px 0;
    text-align: center;
}

.img-slider img {
    position: absolute;
    width: 548px;
    left: 125px;
}

.info-text-slider {
    position: relative;
    left: -55px;
    top: 105px;
    width: calc(100% - 2%);
    grid-area: info-text-slider;
}

.info-text-slider h1 {
    width: 100%;
    height: auto;
    font-size: 45px;
    font-weight: normal;
    padding: 0;
}

.info-text-slider h3 {
    width: 100%;
    max-width: 95%;
    height: auto;
    font-weight: normal;
    font-size: 21px;
    line-height: 60px;
    padding: 0;
    margin: 30px 0;
}

.section1 {
    width: 100%;
    height: 560px;
    margin: 0 auto;
    background-color: #F2F6FB;
}

.section1 h1 {
    font-size: 42px;
    font-weight: normal;
    color: #ADC6DC;
    margin: 30px auto;
}

.divider-sec1 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #9AB8D3;
    margin: 5px auto;
}

.info-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.img1-sec1 img {
    width: 240px;
    margin-top: 60px;
    
}

.img2-sec1 img {
    width: 240px;
    margin-top: 60px;
    
}

.img3-sec1 img {
    width: 240px;
    margin-top: 60px;
    
}

.img4-sec1 img {
    width: 240px;
    margin-top: 60px;
    
}

.content-section1 p {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
    color: #ADC6DC;
}

.section2 {
    width: 100%;
    height: 925px;
    margin: 0 auto;
    background-color: #ADC6DC;
}

.section2 h1 {
    margin: 30px 0;
    text-align: center;
    font-weight: normal;
    font-size: 45px;
    color: #EBF0F5;
}

.divider-sec2 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #EBF0F5;
    margin: 5px auto;
}

.info-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.content-section2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'img1-sec2 ad-section2' ;
    margin: 10px 0;

}


.img1-sec2 {
    padding: 80px 115px;
    grid-area: img1-sec2;
}

.img1-sec2 img {
    display: inline-block;
    width: 230px;
    max-width: 45%;
    margin: 5px;
}

.img1-sec2 p {
    width: 80%;
    margin: 20px 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    color: #EBF0F5;
}

.ad-section2 {
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    grid-area: ad-section2;
}

.ad-section2 p {
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    color: #EBF0F5;
    margin: 10px 0;
}


.ad-section2 p::before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 18px -25px;
    background: #EBF0F5;
}

.btn1-sec2 {
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 14px 32px;
    margin: 30px;
    border-radius: 25px;
    color:#ADC6DC;
    background-color: #EBF0F5;
}

.btn1-sec2:hover {
    border: 1px solid #EBF0F5 !important;
    color:#EBF0F5;
    background-color: #ADC6DC;
    transition: 0.5s;
    transition-property: border background;
}

.btn2-sec2 {
    cursor: pointer;
    font-size: 16px;
    padding: 14px 32px;
    margin: 30px;
    border-radius: 25px;
    background: none;
    border: 1px solid #EBF0F5 !important;
    color:#EBF0F5;
}

.btn2-sec2:hover {
    border: none !important;
    color:#ADC6DC;
    background-color: #EBF0F5 !important;
    transition: 0.5s;
    transition-property: border background;
}


.section3 {
    width: 100%;
    height: 665px;
    margin: 0 auto;
    background-color: #F2F6FB;
}

.section3 h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 45px;
    color: #9AB8D3;
    font-weight: normal;
}


.info-section3 {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.divider-sec3 {
    width: 101px;
    height: 4px;
    border-radius: 25px;
    background: #9AB8D3;
    margin: 5px auto;
}

.content-section3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px 0;

}

.content-section3 .img1-sec3 {
    width: 550px;
    margin: 25px 0;
}

.content-section3 .img2-sec3 {
    width: 550px;
    margin: 25px 0;
}

.content-section3 .img3-sec3 {
    width: 550px;
    margin: 25px 0;
}

.content-section3 p {
    font-size: 21px;
    text-align: center;
    color: #9AB8D3;
    margin: 15px;
}

.btn-sec3 {
    padding: 14px 32px;
    border: none;
    flex: 0;
    color: #F2F6FB;
    background-color: #ADC6DC;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}

.btn-sec3:hover {
    border: 1px solid #ADC6DC !important;
    color: #ADC6DC;
    background: none;
    transition: 0.5s;
    transition-property: border background;    
}

// .section4 {
//     width: 100%;
//     height: 985px;
//     margin: 0 auto;
//     text-align: center;
//     background-color: #ADC6DC;
// }

// .info-section4 {
//     display: flex;
//     flex-direction: column;
//     justify-items: center;
//     margin: 65px 0;
// }

// .section4 h1 {
//     margin: 30px 0;
//     text-align: center;
//     font-size: 45px;
//     color: #EBF0F5;
//     font-weight: normal;
// }

// .divider-sec4 {
//     width: 101px;
//     height: 4px;
//     border-radius: 25px;
//     background: #EBF0F5;
//     margin: 5px auto;
// }

// .content-section4 {
//     display: grid;
//     width: 80%;
//     grid-template-columns: 1fr 1fr;
//     margin: 0 auto;
// }

// .img-sec4 {
//     display: flex;
//     position: relative;
//     width: 100%;
//     margin: 30px;
//     padding: 20px 30px;
// }

// .title-img-sec4 {
//     display: flex;
//     flex-direction: column;
//     align-content: center;
// }

// .title-img-sec4 h3 {
//     width: 80%;
//     margin: 0 40px;
//     font-size: 26px;
//     color: #EBF0F5;
//     text-align: left;
//     font-weight: normal;
// }

// .title-img-sec4 p {
//     width: 80%;
//     margin: 10px 45px;
//     font-size: 21;
//     line-height: 35px;
//     text-align: left;
//     color: #EBF0F5;
//     font-weight: normal;
// }

// .img3-sec4 {
//     margin-top: 45px;
// }

// .img4-sec4 {
//     margin-top: 45px;
// }

footer {
    width: 100%;
    height: 310px;
    background-color: #F2F6FB;
    text-align: center;
    vertical-align: middle;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 60px;
}


.footer-info a {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #9AB8D3;
}

.footer-info a:hover {
    color: #b1cde6;
    transition: 0.5s;
    transition-property: color;

}

.footer-copyright {
    display: inline-block;
    position: relative;
    width: 100%;
    
}

.footer-copyright p {
    font-size: 18px;
    font-weight: normal;
    color: #9AB8D3;
 }


//  @media(max-width: 1024px) {
//     .sidebar {
//       height: auto;
//       width: 80px;
//       left: 0;
//       margin: 150px 0;
//       box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
//     }

//     header, #btn, #cancel {
//       display: none;
//     }

//     span {
//       position: absolute;
//       margin-left: 5px;
//       opacity: 0;
//       visibility: hidden;
//     }

//     .sidebar a {
//       height: 70px;
//     }

//     .sidebar i {
//         margin-top: 20px;
//     }

//     .sidebar a i {
//       margin-left: -10px;
//     }

//     a:hover {
//       width: 350px;
//       background: inherit;
//       transition: 0.5s;
//       transition-property: width background;
  
//     }

//     .sidebar a:hover span {
//       opacity: 1;
//       visibility: visible;
//       transition: 0.5s;
//       transition-property: opacity visibility;
  
//     }

//     header {
//         display: flex;
//         position: fixed;
//         width: 100%;
//         height: auto;
//         min-height: 70px;
//         margin: 0 auto;
//         text-align: center;
//     }
    
//     .info-logo {
//         display: flex;
//         text-align: center;
//         margin: 0 auto;
//     }

//     .info-logo p {
//         margin-left: 25px;
//         font-size: 25px;
//     }

//     .info-links {
//         display: none;
//     }

//     .slider {
//         display: inline-block;
//         height: auto;
//         width: 100%;
//         padding: 80px 0;
//         margin: 0 auto;
//         text-align: center;
//     }

    
//     .img-slider img {
//         position: static;
//         width: 80%;
//         max-width: 60%;
//     }
    
//     .info-text-slider {
//         width: 100%;
//         left: 0;
//         top: 0;
//         max-width: 80%;
//         margin: 0 auto;
//         top: 0;
//     }
    
//     .info-text-slider h1 {
//         font-size: 31px;
//         text-align: center;
//     }
    
//     .info-text-slider h3 {
//         width: 80%;
//         line-height: 40px;
//         font-size: 18px;
//         margin: 10px auto;
//         text-align: justify;
//     }
    
//     .section1 {
//         width: 100%;
//         height: auto;
//         text-align: center;
//     }
    
//     .section1 h1 {
//         font-size: 36px;    
//     }    
    
//     .content-section1 {
//         display: inline-block;
//     }

//     .img1-sec1 {
//         float: left;
//         width: 50%;
//     }
    
//     .img2-sec1 {
//         float: right;
//         width: 50%;
//     }
    
//     .img3-sec1 {
//         float: left;
//         width: 50%;
//     }

//     .img4-sec1 {
//         float: right;
//         width: 50%;
//     }
    
//     .content-section1 > div {
//         margin: 20px 0;
    
//     }
    
//     .content-section1 p {
//         font-size: 21px;
//         margin: 20px 0;
//     }

//     .section2 {
//         width: 100%;
//         height: auto;
//         margin: 0 auto;
//         text-align: center;
//     }

//     .section2 h1 {
//         font-size: 36px;

//     }
    
//     .divider-sec2 {
//         width: 101px;
//         height: 4px;
//         border-radius: 25px;
//         background: #EBF0F5;
//         margin: 5px auto;
//     }
  
//     .content-section2 {
//         display: inline-block;
//         width: 100%;
//     }

//     .img1-sec2 {
//         padding: 5px 45px;
//     }
    
//     .img1-sec2 img {
//         display: block;
//         margin: 80px auto;
//         width: 60%;
//         max-width: 50%;
//     }
    
//     .img1-sec2 p {
//         display: inline-block;
//         width: 70%;
//         max-width: 60%;
//         text-align: justify;
//         margin: 10px 0;
//     }

//     .ad-section2 {
//         display: inline-block;
//         width: 100%;
//         margin: 20px auto;
//     }
    
    
//     .ad-section2 p {
//         position: relative;
//         left: 0;
//         display: inline-block;
//     }

//     .btn1-sec2 {
//         margin-bottom: 80px;
//     }

//     .ad-section2 p::before {
//         content: '';
//         display: block;
//         position: absolute;
//         margin: 18px -25px;        
//     }        
    
//     .section3 {
//         width: 100%;
//         height: auto;
//         background-color: #F2F6FB;
//     }
    
//     .section3 h1 {
//         margin: 30px 0;
//         font-size: 36px;
//     }
    
//     .info-section3 {
//         display: flex;
//         flex-direction: column;
//         margin: 30px auto;
//         text-align: center;
//     }
    
//     .divider-sec3 {
//         width: 101px;
//         height: 4px;
//         border-radius: 25px;
//         background: #9AB8D3;
//         margin: 5px auto;
//     }
    
//     .content-section3 {
//         display: inline-block;
//         width: 100%;
//         text-align: center;
//     }
    
    
//     .content-section3 img {
//         display: inline-block;
//         width: 100%;
//         max-width: 70%;
//         margin: 0;
//     }
    
    
//     .content-section3 p {
//         font-size: 18px;
//         text-align: center;
//     }
   
//     .content-section3 .img1-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }

    
//     .content-section3 .img2-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }

//     .content-section3 .img3-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }
     
//     .section4 {
//         width: 100%;
//         height: auto;
//         margin: 0 auto;
//         background-color: #ADC6DC;
//     }    
    
//     .info-section4 {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         margin-top: 10px;
//     }
    
    
//     .section4 h1 {
//         margin: 30px 0;
//         text-align: center;
//         font-size: 36px;
//         color: #EBF0F5;
//         font-weight: normal;
//     }
    
//     .divider-sec4 {
//         width: 101px;
//         height: 4px;
//         border-radius: 25px;
//         background: #EBF0F5;
//         margin: 5px auto;
//     }    
    
//     .info-section4 {
//         display: flex;
//         flex-direction: column;
//         justify-items: center;
//         margin: 65px 0;        
//     }
    
//     .content-section4 {
//         display: grid;
//         justify-items: center;
//         grid-template-columns: 1fr 1fr;
//     }
    
//     .img-sec4 {
//         display: inline-block;
//         margin: 30px;
//     }
    
//     .title-img-sec4 {
//         display: inline-block;
//     }
    
//     .title-img-sec4 h3 {
//         width: 100%;
//         text-align: center;
//         margin: 20px 0;
//         font-size: 21px;
//     }
    
//     .title-img-sec4 p {
//         width: 100%;
//         text-align: center;
//         margin: 0;
//         font-size: 16px;
//         color: #EBF0F5;
//         margin-bottom: 60px;
//     }

        
//     footer {
//         width: 100%;
//         height: auto;
//     }
    
//     .footer-info {
//         display: flex;
//         justify-content: space-evenly;
//         align-content: center;
//     }

//     .footer-info img:first-child {
//         display: inline-block;
//         width: 10%;
//         margin: 40px 0;
//         align-content: center;
//     }

//     .footer-info img:last-child {
//         display: none;
//     }
    
//     .footer-links a {
//         font-size: 16px;
//         line-height: 40px;
//         font-weight: normal;
//         text-align: left;
//         color: #9AB8D3;
//         margin: 15px;
//     }
    
//     .footer-copyright p {
//         font-size: 12px;
//         text-align: center;
//         color: #9AB8D3;
//      }  


//   }

//   @media screen and (max-width: 468px) {
//     .sidebar {
//         display: none;
//         height: auto;
//         width: 60px;
//         left: 0;
//         margin: 150px 0;
//         box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
//       }
  
//     header, #btn, #cancel {
//     display: none;
//     }

//     span {
//     position: absolute;
//     margin-left: 5px;
//     opacity: 0;
//     visibility: hidden;
//     }

//     .sidebar a {
//     height: 60px;
//     }

//     .sidebar i {
//         margin-top: 20px;
//     }

//     .sidebar a i {
//     margin-left: -15px;
//     }

//     .sidebar a:hover span {
//     opacity: 1;
//     visibility: visible;
//     transition: 0.5s;
//     transition-property: opacity visibility;
//     }

//     header {
//         display: flex;
//         position: fixed;
//         min-width: 75px;
//         min-width: 100%;
//         width: 100%;
//         justify-content: center;
//     }
    
//     .info-logo p {
//         flex: 1;
//         margin-left: 10px;
//         font-size: 14px;
//     }
    
//     .info-logo img {
//         width: 25px;
//         justify-items: center;
//     }
    
//     .info-links {
//         display: none;
//     }
    
//     .slider {
//         display: inline-block;
//         width: 100%;
//         height: auto;
//         padding: 0 !important;
//         text-align: center;
//         overflow: hidden;
//     }
    
//     .img-slider img {
//         display: inline-block;
//         position: relative;
//         left: 0;
//         top: 45px;
//         width: 210px;
//     }
    
//     .info-text-slider {
//         display: inline-block;
//         width: 100%;
//         justify-items: center;
//         text-align: center;
//     }
    
//     .info-text-slider h1 {
//         margin: 0;
//         font-size: 23px;
//         text-align: center;
//     }
    
//     .info-text-slider h3 {
//         width: 100%;
//         line-height: 30px;
//         font-size: 18px;
//         margin: 40px 2%;
//     }
    
//     .section1 {
//         width: 100%;
//         height: auto;
//         margin: 0 auto;
//         text-align: center;
//     }

//     .section1 h1 {
//         width: 100%;
//         font-size: 28px;
//         color: #ADC6DC;
//         margin: 30px auto;
//     }
        
//     .divider-sec1 {
//         width: 101px;
//         height: 4px;
//         border-radius: 28px;
//         background: #9AB8D3;
//         margin: 5px auto;
//     }
    
//     .info-section1 {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         justify-items: center;
//         margin-top: 10px;
//     }
    
//     .content-section1 {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         max-width: 100%;
//     }

//     .img1-sec1 img {
//         width: 210px;
//         max-width: 100%;
//         margin-top: 0;
        
//     }
    
//     .img2-sec1 img {
//         width: 210px;
//         max-width: 100%;
//         margin-top: 0;
//     }
    
//     .img3-sec1 img {
//         width: 210px;
//         max-width: 100%;
//         margin-top: 0;
//     }
    
//     .img4-sec1 img {
//         width: 210px;
//         max-width: 100%;
//         margin-top: 0;
//       }

      
//     .content-section1 p {
//           font-size: 18px;
//           margin: 10px 0;
//       }
  
//     .section2 {
//           width: 100%;
//           height: auto;
//           margin: 0 auto;
//           text-align: center;
//       }
  
//     .section2 h1 {
//           font-size: 28px;
  
//       }
      
//     .divider-sec2 {
//           width: 101px;
//           height: 4px;
//           border-radius: 25px;
//           background: #EBF0F5;
//           margin: 5px auto;
//       }
    
//     .content-section2 {
//           display: inline-block;
//           width: 100%;
//       }
  
//     .img1-sec2 {
//           padding: 0 15px;
//       }
      
//     .img1-sec2 img {
//         display: block;
//         margin: 80px auto;
//         width: 210px;
//         max-width: 100%;
//     }
    
//     .img1-sec2 p {
//         display: inline-block;
//         width: 100%;
//         font-size: 16px;
//         max-width: 90%;
//         margin: 10px 0;
//     }
    
//     .ad-section2 {
//         display: inline-block;
//         width: 100%;
//         margin: 10px auto;
//     }
    
    
//     .ad-section2 p {
//         width: 80%;
//         max-width: 80%;
//         text-align: left;
//         font-size: 14px;
//         line-height: 20px;
//     }

//     .btn1-sec2 {
//         margin-bottom: 10px;
//     }

//     .btn2-sec2 {
//         margin-bottom: 30px;
//     }

//     .ad-section2 p::before {
//         content: '';
//         display: block;
//         position: absolute;
//         margin: 8px -18px;        
//     }        
    
//     .section3 {
//         width: 100%;
//         height: auto;
//         background-color: #F2F6FB;
//     }
    
//     .section3 h1 {
//         margin: 30px 0;
//         font-size: 28px;
//     }
    
//     .info-section3 {
//         display: flex;
//         flex-direction: column;
//         margin: 30px auto;
//         text-align: center;
//     }
    
//     .divider-sec3 {
//         width: 101px;
//         height: 4px;
//         border-radius: 25px;
//         background: #9AB8D3;
//         margin: 5px auto;
//     }
    
//     .content-section3 {
//         display: inline-block;
//         width: 100%;
//         text-align: center;
//     }
    
    
//     .content-section3 img {
//         display: inline-block;
//         width: 100%;
//         margin: 0;
//     }

    
//     .img1-sec3 img {
//         width: 210px;
//         max-width: 100%;
//     }
    
//     .img2-sec3 img {
//         width: 210px;
//         max-width: 100%;
//     }
    
//     .img3-sec3 img {
//         width: 210px;
//         max-width: 100%;
//     }
    
//     .content-section3 p {
//         font-size: 18px;
//     }
    
//     .content-section3 .img1-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }

    
//     .content-section3 .img2-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }

//     .content-section3 .img3-sec3 {
//         display: inline-block;
//         width: 55%;
//         margin: 25px 0;
//     }
    
//     .section4 {
//         width: 100%;
//         height: auto;
//         background-color: #ADC6DC;
//     }    
    
//     .info-section4 {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-content: center;
//         margin-top: 10px;
//     }
    
    
//     .section4 h1 {
//         margin: 30px 0;
//         text-align: center;
//         font-size: 28px;
//     }
    
//     .divider-sec4 {
//         width: 101px;
//         height: 4px;
//         border-radius: 25px;
//         background: #EBF0F5;
//         margin: 5px auto;
//     }    
    
//     .info-section4 {
//         display: flex;
//         flex-direction: column;
//         align-content: center;
//         margin: 25px 0;        
//     }
    
//     .content-section4 {
//         display: flex;
//         flex-direction: column;
//         justify-items: center;
//         width: 100%;
//         padding: 0;
//     }
     
//     .title-img-sec4 h3 {
//         width: 100%;
//         margin: 20px 0;
//         font-size: 21px;
//     }
    
//     .title-img-sec4 p {
//         width: 100%;
//         margin: 5px 0;
//         font-size: 18px;
//     }
        
//     footer {
//         width: 100%;
//         height: auto;
//     }
    
//     .footer-info {
//         display: flex;
//         width: 100%;
//         flex-wrap: wrap;
//         justify-content: center;
//         text-align: center;
//         margin: 0;
//     }

//     .footer-info img:first-child {
//         display: inline-block;
//         width: 30%;
//     }

//     .footer-info img:last-child {
//         display: none;
//     }
    
//     .footer-links a {
//         font-size: 16px;
//         margin: 55px 0;
//     }
    
//     .footer-copyright p {
//         font-size: 12px;
//         line-height: 40px;
//         text-align: center;
//         color: #9AB8D3;
//         margin: 0 !important;  
//     }  

//   }
  
